body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #d14a4a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px;
  background: #ff9800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

section {
  display: none;
  padding: 20px;
}

section.active {
  display: block;
}

#product-list, #tray-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  text-align: center;
  border-radius: 8px;
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

button.add-btn {
  background: green;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

#expense-form {
  margin-bottom: 20px;
}
#expenseChart{
  max-width: 600px;   /* limit width */
  max-height: 600px;  /* limit height */
  margin: 40px auto;  /* center it */
  display: block;
}

#expense-list {
  list-style: none;
  padding: 0;
}
#report{
   max-width: 800;   /* limit width */
  max-height: 600px;  /* limit height */
  margin: 40px auto;  /* center it */
  display: block;
}
